.AddCommentForm {
  padding: 20px;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  margin-bottom: 16px;
}

.input {
  flex-grow: 1;

  // height: 38px;
  border-color: var(--primary-color);
}
