.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  position: relative;
  transition: width 0.25s ease;
  flex-shrink: 0;
}

.switchers {
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.items {
  margin: 30px 0 0 40px;
  transition: all 0.25s ease;
}

.link {
  transition: all 0.25s ease;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .items {
    margin-left: 0;
    align-items: center;
  }
}
