.popup {
  position: relative;
  display: inline-flex;
}

.trigger {
  background: none;
  outline: none;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}

.active {
  background: var(--card-bg);

  &:hover:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  &:hover:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

.disabled {
  opacity: 0.5;
}

.optionsBottomRight {
  top: 100%;
  left: 0;
}

.optionsBottomLeft {
  top: 100%;
  right: 0;
}

.optionsTopRight {
  bottom: 100%;
  left: 0;
}

.optionsTopLeft {
  bottom: 100%;
  right: 0;
}
