.select {
  background: none;
  outline: none;
  color: var(--primary-color);
  padding: 5px;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
}

.option {
  color: var(--primary-color);
  background: var(--inverted-bg-color);
  border-radius: 8px;
}

.label {
  border-radius: 8px;
}
