.app_dark_theme {
  --bg-color: #333;
  --inverted-bg-color: #222;
  --primary-color: #eee;
  --secondary-color: #e5e5e5;
  --accent: #059464;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code
  --code-bg: #222;

  // card
  --card-bg: #222;

  // listbox
  --listbox-bg: #333;
}
