.trigger {
  cursor: pointer;
  outline: none;
  margin: 0;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background: none;
  padding: 6px 15px;
  transition: opacity 0.3s ease-in;

  &:hover {
    opacity: 0.6;
  }
}

.options {
  background: var(--listbox-bg);
  position: absolute;
  z-index: 1000;
  border-radius: 8px;
  box-shadow: 4px 4px 6px var(--listbox-bg);
  min-width: 100%;
}

.item {
  padding: 10px 20px;
  white-space: nowrap;
}
