.avatar {
  margin: 0 auto;
}

.title {
  margin-top: 20px;
}

.paragraph {
  display: flex;
  width: 100%;
  height: fit-content;
  resize: initial;
  outline: none;
  background: var(--primary-bg-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  padding: 10px;
}
